<div class="ui container" id="container">
  <h2>Add Calc</h2>

  <div class="ui form" [formGroup]="form">
    <div class="align">
      <div class="ui massive labels align">
        <div class="ui label olive">
          <label>{{ firstNumber }}</label>
        </div>
        <label class="equal">+</label>
        <div class="ui label olive">
          <label>{{ secondNumber }} </label>
        </div>
      </div>
      <label class="equal"> = </label>
      <div
        class="ui input huge field"
        [class.error]="
          (formSubmitted || form.controls['answer'].touched) &&
          (form.controls['answer'].invalid ||
            validateAns(form.controls['answer']))
        "
      >
        <input
          type="number"
          placeholder="?"
          formControlName="answer"
          (keyup.enter)="submitAnswer()"
        />
      </div>
    </div>
  </div>

  <div class="ui message olive">
    <p
      class="align"
      *ngFor="
        let item of [
          { text: 'Correct Attempts:', value: correctAttempts, color: 'teal' },
          {
            text: 'Incorrect Attempts:',
            value: incorrectAttempts,
            color: 'red'
          }
        ]
      "
    >
      {{ item.text }}
      <span class="ui big label {{ item.color }}">{{ item.value }}</span>
    </p>
  </div>
</div>
